.axis path, 
.axis line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.x.axis path{
    display: none;
}

.bar
{
    fill: FireBrick;
}

/* Bar SVG */
#barSVG, #bar2SVG, rect{
    fill: steelblue;
}

.bar {
    fill: steelblue;
}

#barSVG text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.bar:hover {
    fill: brown;
}
rect:hover{
    fill: green;
}